/* header */
.card-body {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    min-height: 1px !important;
    padding: 1.25rem !important;
    height: 200px !important;
    overflow-y: scroll !important;
}

.btn_log{
    background-color: none;
    border-radius: 50%;
    border: 3px solid white;
}
.more{
    background-color:darkgreen;
    border-radius: 8px;
    color:white;
    padding: 10px;
    /* border: 3px solid darkgreen ; */
}

.header1{
    background: url('../img/bploy2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    min-width: 100%;
    height: 100vh;
}


.robot{
    background: url('../img/rb5.png')
    no-repeat;
    background-position: left;
    background-size: 40%;
    background-attachment: fixed;
    min-width: 1%;
    height: 130vh;

}

.textac{
text-align: center;
margin-top: 5em;
}

.ic1{
    background: url('../img/rb2.gif')
    no-repeat;
    background-position: center;
    background-size: 40%;
    background-attachment: fixed;
    min-width: 1%;
    height: 400vh;
}


