*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    font-family: montserrat;
  }

  ul{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -240px;
    width: 240px;
    background: url('../img/Bpoly.jpg');
    height: 100vh;
    overflow-y: auto;
    transition: all .3s;
    /* text-decoration:; */
    
  }

  ul li{
    height: 65px;
    outline: none;
  }

  ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 100px;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    /*border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 5px solid transparent;*/
    text-align: center;
  }

  /*li a.contact{
    border-bottom: 1px solid;
  }*/

  .active a{
    color: white;
    /*border-left: 5px solid;*/
    
  }

  section{
    margin-left: 0px;
    transition: all .3s;
  }

  i{
    position: fixed;
    margin: 20px 25px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
  }
  
  h2{
    font-size: 40px;
    padding: 15px 20px;
  }

  p{
    padding: 0 20px 10px 20px;
    text-align: justify;
  }

  .ul_show{
    margin-left: 0px;
  }
  
  .slide_image{
    margin-left: 260px;
  }
  
  